/* Roadmap Container */
.roadmap-container {
  text-align: center;
  padding: 20px;
  font-family: 'Font1', sans-serif;
}

/* Header Title */
.roadmap-title {
  color: #000;
  font-size: clamp(3.5rem, 5vw, 4rem);
  font-weight: bold;
  margin: 0px;
}

/* Roadmap Section */
.roadmap-section {
  margin-top: 50px;
  text-align: left;
  max-width: 800px;
  margin: auto;
}

/* Roadmap Headings */
.roadmap-heading {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 40px;
  color: #333;
}

/* Roadmap List */
.roadmap-list {
  color: rgba(0, 0, 0, 0.75);
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  list-style-type: none;
  padding: 0;
}

.roadmap-list li {
  margin-bottom: 10px;
}

/* Nested Lists */
.roadmap-list ul {
  padding-left: 20px;
  list-style-type: disc;
}

.roadmap-list ul li {
  margin-top: 5px;
}
